<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:insert="~{fragments/general.html :: estilo}"></div>
  <body>
    <div class="container">
      <!--<nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>-->
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
          <h2>Estudiante</h2>
          <hr/>
          <form method="post" th:action="@{/estudiante/save}" th:object="${estudiante}">
            <div class="mb-3">
              <label for="name" class="form-label">Nombres y Apellidos</label>
              <input type="text" class="form-control" id="name" th:field="*{nombres}"
              th:classappend="${#fields.hasErrors('nombres')?'is-invalid':''}">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}"
                   th:errors="*{nombres}" ></div>
              <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" th:field="*{apellidos}"
                th:classappend="${#fields.hasErrors('apellidos')?'is-invalid':''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}"
                     th:errors="*{apellidos}"></div>
              <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" th:field="*{correo}">
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="text" class="form-control" id="password" th:field="*{password}">
              <div class="mb-3">
              <label class="form-label">Edad</label>
              <input type="text" class="form-control" id="edad" th:field="*{edad}"
             th:classappend="${#fields.hasErrors('edad')?'is-invalid':''}">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('edad')}"
                    th:errors="*{edad}" >
             </div>
             <div class="mb-3">
               <label class="form-label">DNI</label>
               <input th:field="*{dni}" type="text" class="form-control"
               th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}"/>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}"
      th:errors="*{dni}"></div>

<a th:href="@{'/estudiante/lista'}" class="btn btn-danger">Cancelar</a>
<button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>
</div>
</div>
</body>
</html>